{% extends "app.twig" %}
{% block content %}
    {% if errors %}
        {% for error in errors %}

            <p style="color: red">{{ error }}</p>

        {% endfor %}
    {% endif %}
    <a href="/products">Back</a>
    <form action="/products" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>
        <label for="categoryId">Category:</label>
        <select name="categoryId" id="categoryId" required>
            <option disabled selected value> -- select an option -- </option>
            {% for category in categories %}
            <option value="{{ category.getId }}">{{ category.getName }}</option>
            {% endfor %}
        </select>
        <br>
        {% for tag in tags %}
            <input type="checkbox" id="{{ tag.getName }}" name="{{ tag.getName }}" value="tag.getId">
            <label for="{{ tag.getName }}">{{ tag.getName }}</label><br>
        {% endfor %}
        <br>
        <label for="quantity">Quantity:</label>
        <input type="text" id="quantity" name="quantity" required><br>
        <input type="submit" value="Add">
    </form>

{% endblock %}