{% extends "app.twig" %}
{% block content %}
    <a href="/products">Back</a>
    <form action="/products/{{ product.getId }}/edit" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" value="{{ product.getName }}" id="name"><br>
        <label for="categoryId">Category search</label>
        <select name="categoryId" id="categoryId">
            <option disabled selected value> -- select an option -- </option>
            {% for category in categories %}
                <option value="{{ category.getId }}">{{ category.getName }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="quantity">Quantity:</label>
        <input type="text" name="quantity" value="{{ product.getQuantity }}" id="quantity"><br>
        <input type="submit" value="Edit" name="edit">
    </form>
    
{% endblock %}