{% extends "app.twig" %}
{% block content %}
    <form action="/categories/create" method="get">
        <input type="submit" value="Add category">
    </form>
    <form action="/tags/create" method="get">
        <input type="submit" value="Add tag">
    </form>
    <form action="/products/create" method="get">
        <input type="submit" value="Add product">
    </form>
    <form action="/products/category" method="post">
        <label for="categoryId">Category search</label>
        <select name="categoryId" id="categoryId">
            <option disabled selected value> -- select an option -- </option>
            {% for category in categories %}
            <option value="{{ category.getId }}">{{ category.getName }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Search">
    </form>
    {% for product in products %}
    <ul>
        <li> <font size="+1">{{ product.getName }}</font> |
             Category: {{ product.getCategoryName }} |
             Quantity : {{ product.getQuantity }} |
             Added : {{ product.getCreatedAt }} |
             Last edited : {{ product.getEditedAt }}
        </li>
    </ul>
        <a href="/products/{{ product.getId }}/edit">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/products/{{ product.getId }}/remove">Remove</a>
        <br>
    {% endfor %}
{% endblock %}